In [21]:
# there are two ways to balance a data :
# 1) Random under sampling (decreasing the dominating term)
# 2) Random over sampling  (increasing the recessive term)

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
dataset = pd.read_csv("Social_Network_Ads.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# we only need age and purcchased so :
dataset1 = dataset.drop(columns=["User ID","Gender","EstimatedSalary"])
dataset1.head()

   Age  Purchased
0   19          0
1   35          0
2   26          0
3   27          0
4   19          0

In [5]:
#lets split input and output data:
x1 = dataset1.iloc[:,:-1]
y1 = dataset1["Purchased"]

In [6]:
# now lets check the balance of outcomes :
dataset1["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [7]:
# we can see that the outcomes are not balanced (that is one dominates other)

# Random Under Sampling

In [8]:
from imblearn.under_sampling import RandomUnderSampler

In [9]:
ru = RandomUnderSampler()

In [10]:
#random pasmpling
ru_x,ru_y = ru.fit_resample(x1,y1)

In [11]:
#lets check the count now
ru_y.value_counts()

Purchased
0    143
1    143
Name: count, dtype: int64

In [12]:
# hence the outcomes have been balanced now using random under sampling

# Random Over Sampling

In [13]:
dataset2 = dataset.drop(columns=["User ID","Gender","EstimatedSalary"])
dataset2.head()

   Age  Purchased
0   19          0
1   35          0
2   26          0
3   27          0
4   19          0

In [14]:
x2 = dataset2.iloc[:,:-1]
y2 = dataset2["Purchased"]

In [15]:
dataset2["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [16]:
from imblearn.over_sampling import RandomOverSampler

In [17]:
ro = RandomOverSampler()

In [18]:
ro_x,ro_y = ro.fit_resample(x2,y2)

In [19]:
ro_y.value_counts()

Purchased
0    257
1    257
Name: count, dtype: int64

In [20]:
# hence the outcomes have been balanced now using random over sampling