In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Housing.csv")

In [5]:
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
# seperating the input and output , i.e , dependent data and independent data

In [17]:
input_data = dataset.iloc[:,-12:]
output_data = dataset["price"]

In [18]:
input_data

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [19]:
output_data

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [20]:
# splitting train data and test data:

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
#the train test split gives 4 outputs , input data's train and test (x-axis data) , output data's train and test(y-axis data)

In [24]:
x_train,x_test,y_train,y_test = train_test_split(input_data,output_data,test_size=0.25 )

In [28]:
dataset.shape

(545, 13)

In [27]:
x_train.shape , x_test.shape

((408, 12), (137, 12))

In [30]:
545-408

137

In [29]:
# we can see the 545 rows are split into 408 and 137 as train data and test data

In [31]:
# the same with output data :
y_train.shape , y_test.shape

((408,), (137,))