In [54]:
import pandas as pd

In [55]:
data = {"name":["a","b","c","d","a","c"],"eng":[8,7,5,8,8,5],"hindi":[2,3,4,5,2,6]}

In [56]:
df = pd.DataFrame(data)
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
4    a    8      2
5    c    5      6

In [57]:
# when two rows are identically equal , means all columns match , then the rows are called duplicates
# we have to remove the duplicates to have a clean data

In [58]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [59]:
# it says 4th row is a duplicate

In [65]:
# removing duplicates
df.drop_duplicates(inplace=True)
df

  name  eng  hindi
0    a    8      2
1    b    7      3
2    c    5      4
3    d    8      5
5    c    5      6